@import "tailwindcss";

/* globals.css */
/* * {
  outline: 1px solid rgba(255, 0, 0, 0.1); 
} */


html {
  /* overflow-x: hidden; */
  stroke-width: none; 
  ::-webkit-scrollbar {
    display: none;
  }

  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background: white;

  /* Oculta a barra de rolagem para Firefox */
  scrollbar-width: none;
  /* Oculta a barra de rolagem para IE e Edge */
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

main, #__next {
  background: transparent;
}

/* Utilitário para limitar o texto a um número específico de linhas */
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}
